@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.header {
  background-color: #ccc;
  padding: 10px 0;
}

.todo-list li {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  font-size: 18px;
}
.todo-list li .item {
  display: flex;
  align-items: center;
}
.todo-list li .item input {
  margin-right: 5px;
}
.todo-list li .item .btns {
  margin-left: auto;
}
.todo-list li .item button {
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #111;
  color: #fff;
}

.insert {
  display: flex;
}
.insert input {
  border: none;
  outline: none;
  width: calc(100% - 50px);
  background-color: #eee;
  height: 50px;
  padding: 0 20px;
}
.insert button {
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #fff;
}